.box {
  width: 290px;
  height: 521px;
  display: flex;
  align-items: flex-end;
}

.child {
  width: 100%;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: height 0.4s ease;
  display: none;
  padding: 43px 27px 180px 31px;
  border-radius: 20px;
}

.box:hover .child {
  display: block;
  height: 200px;
}



@media screen and (max-width:931px) {
  .f{
    gap: 40px;
    justify-content: center;
  }
}